body {
    background-color: rgba(229, 247, 251, 1);
}

.header {
    width: 1000px;
    height: 90px;
    display: inline-flex;
    padding: 16px;
    margin: 0;
    align-items: center;
}

.header img {
    width: 45px;
    height: 45px;
    justify-content: center;
    margin: 4px;
}

.header h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 4px;
}

button {
    width: 100px;
    height: 32px;
    margin: 4px;
}